<!DOCTYPE html>
<html>
<head>
	<title>Thanks</title>
    {% load static %}
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Mountains+of+Christmas|Gloria+Hallelujah|Lato" rel="stylesheet">
    <script type="text/javascript" src="{% static 'js/giftjavascript.js' %}"></script>
</head>
<body>
<h1 onclick="location.href='http://www.mymomcodes.com';">Thanks for visiting!!!</h1>
<hr>
<p>Click on the header to return to my website :)<br>
	<br>
	Your gift -- {{title}} -- has been recorded in our database!</p>
</body>
</html>