<!DOCTYPE html>
<html>
<head>
	<title>Thanks</title>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Mountains+of+Christmas|Gloria+Hallelujah|Lato" rel="stylesheet">
    <script type="text/javascript" src="{% static 'js/giftjavascript.js' %}"></script>
</head>
<body>

    <h1 onclick="location.href='http://www.mymomcodes.com/perfectGift';">Tis the season to show a teacher you care!
    </h1>
    <hr>
    <div id="description">
        {% for gift in gifts %}
        <div class="rowWrapper">
            <div class="fieldWrapperThanks">
                {{gift.comment}}
            </div>
            <div class="fieldWrapperThanks">
                <img src="{{ gift.image }}" width="300" height="300">
            </div>
            <div class="fieldWrapperThanks">
            Price: ${{gift.price}} <div id="button"><a href={{gift.webAddress}}>Buy Now</a></div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="rowWrapper" id="searchParameters">
        Search parameters: {{spendingInfo}}, {{teacherLikes}}, {{subjectTaught}}, {{likesCoffee}}, {{isFunny}}, {{hasKids}}, {{likesSports}}
    </div>
    <br>
    <div id="addGiftButton" onclick="location.href='/addYourGift/';">Are you a teacher and have a favorite gift you would like to share with us? | Click Here</a></div>
</body>
</html>